html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--box-shadow_faceook: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
	--box-shadow_nav: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
}

body {
	font-family: 'Special Elite', cursive;
	background-color: #FFF;	
}
/* 
:not(header) {
	margin: 4rem;
} */
.container {
	/* padding: 5rem; */
	margin: 0px 2rem 2rem 2rem;
	/* margin-top: 0%; */
	background-color: #FFFAFA;	
	box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
	/* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;	 */
}

section {
	/* margin-bottom: 5rem; */
	padding: 1rem;
}



nav {
	box-shadow: var(--box-shadow_nav);
	height: 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem;
	/* position: fixed; */	
}

ul {
	display: flex;
}

li {
	list-style: none;
	margin-right: 8px;
}

a {
	text-decoration: none;
}

.nav-items {
	font-size: 1.3rem;
}

a:hover {
	color: #c03f78;
}

.logo {
	font-family: 'Special Elite', cursive;
	font-size: 2rem;
	color: #c03f78;
}

.heading {
	display: flex;
	height: 100vh;
	/* font-size: 4rem; */
	/* position: relative; */
	/* margin: 4rem; */
	/* padding: 6rem; */
	/* z-index: -1; */
	margin-top: 5rem;
	justify-content: space-around;
	/* overflow: hidden; */
}

header {
	position: fixed;
	top: 0;
	/* display: block; */
	width: 100%;
	/* margin-bottom: 15px; */
	/* display: ; */
	background-color: #FFFAFA;
}

.blog {
	padding: 3rem;
	min-height: 100vh;
	display:  flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/* flex-direction: row; */
}

.blog-section_heading {
	display: block;
	/* margin-top: 2rem; */
	text-align: center;
	font-size: xx-large;
	/* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
	box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
	padding: .5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	/* background-color: pink; */
	height: 3rem;	
}

.blog-section_heading span {
	color: #c03f78;
}

.new-blog {	
	height: 25rem;
	width: 30rem;
	padding: 1rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;	
}

.new-blog .head {
	display: block;
	height: 2rem;
	font-size: 1rem;
	text-align: center;
	/* background-color: pink; */
	/* box-shadow: #c03f78; */
	/* box-shadow: var(--box-shadow_faceook); */
	/* width: 100%; */
}

.new-blog .body {
	padding: .8rem;
	height: 80%;
}

.new-blog .read-more {
	padding: .8rem;
	/* justify-self: flex-end; */
	align-self: flex-end;
}

.button {
	padding: 10px;
	/* box-shadow: var(--box-shadow_faceook); */
	box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
	border-radius: 5px;
	/* border: none; */
	cursor: pointer;
	/* display: inline-block; */
}

.button:hover {
	background-color: #c03f78;
	color: white;
}

.resources {
	height: 100vh;
}

.resource-section_heading {
	display: block;
	/* margin-top: 2rem; */
	text-align: center;
	font-size: xx-large;
	/* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
	box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
	padding: .5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	/* background-color: pink; */
	height: 3rem;	
}

.resource-section_heading span {
	color: #c03f78;
}